<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DraftSync!</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <b> File uploaded! </b>
    <p>File Name: {{.FileName}}</p>
    <p>File Path: {{.FilePath}}</p>

    <!-- Add a link to download the file -->
    <a href="{{.FilePath}}" download>Download File</a>
  </body>
</html>
